{% extends 'RUser/design.html' %}
{% block userblock %}


<link rel="icon" href="images/icon.png" type="image/x-icon" />

	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">



		<style>
			body {background-color:#000000;}
			.container-fluid {padding:50px;}
			.container{background-color:white;padding:50px;   }
			#title{font-family: 'Fredoka One', cursive;
}
			.text-uppercase{
			font-family: 'Righteous', cursive;

			}
			.tweettext{

    border: 2px solid yellowgreen;
    width: 904px;
    height: 202px;
    overflow: scroll;
    background-color:;
}
		.style1 {
	color: #FF0000;
	font-weight: bold;
}
.style4 {color: #FFFF00; font-weight: bold; }
.style6 {
	font-size: 24px;
	color: #FFFF00;
	font-weight: bold;
}
.style8 {
	font-style: italic;
	color: #FFFF00;
	font-weight: bold;
}
.style10 {color: #FFFF00}
        </style>

	<body>
	<div class="container-fluid">
		<div class="container">

			<div class="row">
				<div class="col-md-5">

                   <form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>
							<p class="text-uppercase pull-center style1">PREDICTION OF TRAFFIC DETECTION TYPE !!! </p>
                            <hr>

                                {% csrf_token %}
                                <table width="1122" align="center">
                                  <tr>
                                    <td height="44" colspan="4" bgcolor="#FF0000"><div align="center" class="style8">ENTER ALL DETAILS FROM TRAFFIC DATA SETS !!! </div></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER TRAFFIC_DATE</div></td>
                                    <td><input type="text" name="TRAFFIC_DATE"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER TRAFFIC_TIME</div></td>
                                    <td><input type="text" name="TRAFFIC_TIME"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER BOROUGH</div></td>
                                    <td><input type="text" name="BOROUGH"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER ZIP_CODE</div></td>
                                    <td><input type="text" name="ZIP_CODE"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER LATITUDE</div></td>
                                    <td><input type="text" name="LATITUDE"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER LONGITUDE</div></td>
                                    <td><input type="text" name="LONGITUDE"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER LOCATION</div></td>
                                    <td><input type="text" name="LOCATION"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER ON_STREET_NAME</div></td>
                                    <td><input type="text" name="ON_STREET_NAME"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER CROSS_STREET_NAME</div></td>
                                    <td><input type="text" name="CROSS_STREET_NAME"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER OFF_STREET_NAME</div></td>
                                    <td><input type="text" name="OFF_STREET_NAME"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER CONTRIBUTING_FACTOR_VEHICLE</div></td>
                                    <td><input type="text" name="CONTRIBUTING_FACTOR_VEHICLE"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER REFERENCE_ID</div></td>
                                    <td><input type="text" name="REFERENCE_ID"></td>
                                  </tr>
                                  <tr>
                                    <td height="44" bgcolor="#FF0000"><div align="center" class="style4">ENTER TRAFFIC_VEHICLE_TYPE_CODE1</div></td>
                                    <td><input type="text" name="TRAFFIC_VEHICLE_TYPE_CODE1"></td>
                                    <td bgcolor="#FF0000"><div align="center" class="style4">ENTER TRAFFIC_VEHICLE_TYPE_CODE2</div></td>
                                    <td><input type="text" name="TRAFFIC_VEHICLE_TYPE_CODE2"></td>
                                  </tr>
                                  <tr>
                                    <td width="326" height="44" bgcolor="#FF0000"><div align="center"><strong><span class="style2 style10"><span class="style4">ENTER</span> JUNCTION</span></strong></div></td>
                                    <td width="234"><input type="text" name="JUNCTION"></td>
                                    <td width="336"><input name="submit" type="submit" class="style1" value="Predict"></td>
                                    <td width="206">&nbsp;</td>
                                  </tr>
                                </table>
					 </fieldset>
				  </form>


 					<form role="form" method="POST" >
						{% csrf_token %}
						<fieldset>

                            <hr>
                            <div>
                              <table width="719" height="72" border="0" align="center" >
                                    <tr><td width="376" bgcolor="#FF0000"><div align="center"><span class="style6">Prediction of Traffic Type</span> <span class="style4">::</span> </div></td>



                                      <td width="333" bgcolor="#FFFFFF" style="color:red; font-size:20px; font-family:fantasy" ><div align="center"><strong>{{objs}}</strong></div></td>
                                    </tr>
                      </table>



                            </div>




						</fieldset>
					</form>
				</div>

				<div class="col-md-2">
					<!-------null------>
				</div>
            </div>
        </div>
    </div>
{% endblock %}
    <tr>